<template>
    <h1 v-if="this.gameInactive !== true">
      <Simulator/>
    </h1>
    <h1 v-else>
      <body/>
          <div id="start_game">
      <input
        type="text"
        name="player_game_name"
        id="player_game_name"
        placeholder="Player Name"
        v-model="player_game_name"
      />
      <button @click="startGame">Start game</button>
    </div>
    <div id="join">
      <input
        type="text"
        name="player_name"
        id="player_name"
        placeholder="Player Name"
        v-model="player_name"
      />
      <input
        type="text"
        name="join_room"
        id="join_room"
        placeholder="Room Name"
        v-model="room"
      />
      <button @click="joinGame">Join Game</button>
    </div>
      <body/>
    </h1>
</template>


<script>
// TODO: Create lobby where players can either start a new game with specific number of computer players or join an active game with the room id.
// This should then pass the player through to the game with the specified roomID. How to display when players are waiting for players to join a game?

// import TestComponent from './components/TestComponent.vue'
// import Clicker from './components/Clicker.vue'
// import Ping from './components/Ping.vue'
import Simulator from './components/Simulator.vue'

export default {
  name: 'App',
  components: {
    Simulator
  },
  data: () => ({
    gameInactive: true
  }),
  methods: {
    startGame() {
      var room = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);
      this.$store.commit('storeRoomId', room)
      this.$store.commit('storePlayerName', this.player_game_name);
      this.gameInactive = false;
    },
    joinGame() {
      this.$store.commit('storeRoomId', this.room)
      this.$store.commit('storePlayerName', this.player_name);
      this.gameInactive = false;
    },
  }
}
</script>
