<template>
    <div id="app" style="border-style:solid">
      <div>Number of button clicks: {{counter}}</div>
      <div>Location host: {{address}}</div>
      <div>Flask location: {{flask_address}}</div>
      <div>Vuex count: {{count_vuex}}</div>
      <div>Test pong count: {{count_pong}}</div>
      <button @click="incrementCounter">Click Me!</button>
      <button @click="pongTest">Click Me!</button>
    </div>
</template>

<script>
export default {
    name: "Clicker",
    data: () => ({ counter: 0, address: `//${window.location.host}`, flask_address: "http://localhost:5000/"}),
    computed: {
      count_vuex() {
        return this.$store.state.count
        },
      count_pong() {
        return this.$store.state.pong
        }
    },
    sockets: {
      testPong() {
        this.$store.commit('pong_increment');
        }
    },
    methods: {
    incrementCounter() {
      this.counter++;
      this.$store.commit('increment');
      this.$socket.emit("test_ping", {"Message": "Hello"});
      },
    pongTest() {
      this.$socket.emit("test_ping", {"Message": "Hello"});
      },
    }
};
</script>
