<template>
    <div :id="containerId" class="simulator" />
</template>

<script>
    export default {
        name: 'Simulator',
        data: function () {
            return {
                gameInstance: null
            }
        },
        async mounted() {
            const game = await import('./simulator/simulator');
            // this.downloaded = true;
            this.$nextTick(() => {
                this.gameInstance = game.launch(this.$store.state.roomId, this.$store.state.playerName);
            })
        },
        destroyed() {
            this.gameInstance.destroy(false);
        }
    }
</script>

