<template>
  <body>
    <div id="start_game">
      <input
        type="text"
        name="player_game_name"
        id="player_game_name"
        placeholder="Player Name"
        v-model="player_game_name"
      />
      <input
        type="text"
        name="number_of_computer_players"
        id="number_of_computer_players"
        placeholder="Number of computer players"
        v-model="number_of_computer_players"
      />
      <button @click="startGame">Start game with name specified</button>
    </div>
    <div id="join">
      <input
        type="text"
        name="join_room"
        id="join_room"
        placeholder="Room Name"
        v-model="room"
      />
      <input
        type="text"
        name="player_name"
        id="player_name"
        placeholder="Player Name"
        v-model="player_name"
      />
      <button @click="joinRoom">Join Room with name specified</button>
    </div>
    <div>{{game_room_message}}</div>
    <pre>
        <div>{{board_pic}}</div>
    </pre>
    <pre>
        <div>{{player_hand_pic}}</div>
    </pre>
    <div>{{message_to_player}}</div>
    <div id="play_domino">
      <input
        type="text"
        name="domino_to_play"
        id="domino_to_play"
        placeholder="Domino to select"
        v-model="domino_to_play"
      />
      <button @click="playDomino">Play</button>
    </div>
    <pre>
        <div>{{scores}}</div>
    </pre>
    <div id="continue_play">
      <button @click="playAgain">Play again</button>
    </div>
  </body>
</template>

<script>
export default {
    name: "TestComponent",
    data: () => ({
      room: [],
      player_hand_pic: [],
      message_to_player: [],
      board_pic: [],
      game_id: [],
      scores: [],
      error: []
    }),
    sockets: {
      join_room(msg) {
        this.room = msg.room;
        },
      update_player_hand(msg) {
        this.player_hand_pic = msg.player_hand_pic;
      },
      message_to_player(msg) {
        this.message_to_player = msg.message;
      }, 
      update_board(msg) {
        this.board_pic = msg.board_pic;
      },
      update_game(msg) {
        this.game_id = msg.game_id
      },
      update_scores(msg) {
        this.scores = msg.scores
      },
      error(msg) {
        this.error = msg.error
      },
    },
    methods: {
    
    startGame() {
      this.$store.commit('makeGameActive');
      // this.$socket.emit("start_game", {player_name: this.player_game_name, number_of_computer_players: this.number_of_computer_players });
    },
    joinRoom() {
      // this.$socket.emit("join", {  room: this.room, player_name: this.player_name});
    },
    playDomino() {
      this.$socket.emit("play_domino", { domino_to_play: this.domino_to_play });
    },
    playAgain() {
      this.$socket.emit("continue_play", {});
    },
    }
};
</script>

// <script>
// export default {
//   name: "TestComponent",
//   data() {
//     return {
//       player_game_name: "",
//     };
//   },
//   methods: {
//     startGame() {
//       console.log("Hello")
//       // this.$socket.emit("start_game", this.startData);
//         // player_name: $("#player_game_name").val(),
//         // number_of_computer_players: $("#number_of_computer_players").val(),
//     },
//     joinRoom: function () {
//       this.$socket.emit("join", {
//         // room: $("#join_room").val(),
//         // player_name: $("#player_name").val(),
//       });
//     },
//     playDomino: function () {
//       this.$socket.emit("play_domino", {
//         // domino_to_play: $("#domino_to_play").val(),
//       });
//     },
//     playAgain: function () {
//       // this.$socket.emit("continue_play", {});
//     },
//   },
//   computed: {
//     startData() {
//     return {
//       player_game_name: this.player_game_name,
//       number_of_computer_players: this.number_of_computer_players,
//       };
//     }
//   }
// };
// </script>
