Board:
<br>
<img src="{{url_for('static', filename=user_image)}}" align= "middle" />
<br>
<br>
Players hand:
<br>
<img src="{{url_for('static', filename=player_hand_pic)}}" align= "middle" />
<br>
<form action="/play" method = "POST">
    <p>Select a domino to play: <input type = "text" name = "domino_idx" /></p>
    <p><input type = "submit" value = "Submit" /></p>
    <input type="hidden" name="player" value={{player_name}}>
</form>