<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect("http://127.0.0.1:5000/");
    socket.on('connect', function () {
        socket.emit('my event', { data: 'I\'m connected!' });
    });
    socket.on('message', "Hello!")
</script>
<script type="python">
    handle_message('Hello again"')
</script>

<form action="/" method="POST">
    <p>Choose player name: <input type="text" name="player" /></p>
    <p>To join a game add code here: <input type="text" name="code" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>